#home.jumbotron
	.container
		.row
			.col-md-6.col-sm-12
				h1.title.translucy
					| strolch-app
				p.translucy
					| Spielend leicht den Alltag von Eltern und Team organisieren. Mit der strolch-app. Von KiTas für KiTas.
				p
					a(href='#services').btn.btn-success.btn-lg.margin-5
						| Mehr erfahren
					a(href='http://strolch-app.meteor.com').btn.btn-success.btn-lg.margin-5
						| Demo
			.col-md-6.hidden-xs.hidden
				img.media-object(src='images/Finder_256.png')
