#services.container
	.row.features
		.col-lg-4.text-center
			.single-fet
				div
					span.fa-stack.fa-4x(style="color: #5B2F52;")
						i.fa.fa-square-o.fa-stack-2x
						i.fa.fa-clock-o.fa-stack-1x
				h2 Zeit sparen
				p
					| Sekundenschnell Kontaktdaten und Termine nachschlagen. Stundenlisten führen und Übersicht
					| behalten.
		.col-lg-4.text-center
			.single-fet
				div
					span.fa-stack.fa-4x(style="color: #006275;")
						i.fa.fa-square-o.fa-stack-2x
						i.fa.fa-eur.fa-stack-1x
				h2 Geld sparen
				p
					| Die strolch-app ist OpenSource und kann kostenfrei genutzt werden. Dennoch bieten wir 
					| verschiedene Servicepakete an um allen Anwendern eine Lösung anbieten zu können. 
		.col-lg-4.text-center
			.single-fet
				div
					span.fa-stack.fa-4x(style="color: #AFC600;")
						i.fa.fa-square-o.fa-stack-2x
						i.fa.fa-bolt.fa-stack-1x
				h2 Immer Up-to-date
				p
					| Programmiert mit Meteor, einem modernen Echtzeit-JavaScript-Framework. Alle Daten werden auf 
					| bei allen aktiven Benutzern aktuell gehalten.
