section#pricing.pricing
	.container
		.row
			.col-md-12.pricing-intro
				h2.page-headline.large.text-center Was darf's sein?
				p.text-center
					| Es gibt verschiedene Möglichkeiten die strolch-app zu Betreiben. Selber machen oder selber zahlen:
	.container
		.row.pricing-table
			.col-md-4
				.panel.panel-danger
					.panel-heading
						h3.text-center HACKER PLAN
					.panel-body.text-center
						p.lead(style='font-size:40px')
							strong kostenlos
					ul.list-group.list-group-flush.text-center
						li.list-group-item
							i.icon-ok.text-danger
							|  Selbsthosting
						li.list-group-item
							i.icon-ok.text-danger
							|  Selbstbackup
						li.list-group-item
							i.icon-ok.text-danger
							|  Selbstupdate
						li.list-group-item
							i.icon-ok.text-danger
							|  Selbstsupport
					.panel-footer
						a.btn.btn-lg.btn-block.btn-danger(href='#')
							| MEHR DAZU
			.col-md-4
				.panel.panel-info
					.panel-heading
						h3.text-center SIMPLE PLAN
					.panel-body.text-center
						p.lead(style='font-size:40px')
							strong 15€ / Monat
					ul.list-group.list-group-flush.text-center
						li.list-group-item
							i.icon-ok.text-danger
							|  Hosting bei Meteor.com
						li.list-group-item
							i.icon-ok.text-danger
							|  Backup per Eigendownload
						li.list-group-item
							i.icon-ok.text-danger
							|  Regelmäßige Updates
						li.list-group-item
							i.icon-ok.text-danger
							|  EMail-Support
					.panel-footer
						a.btn.btn-lg.btn-block.btn-info(href='#')
							| KAUFEN
			.col-md-4
				.panel.panel-success
					.panel-heading
						h3.text-center PRO PLAN
					.panel-body.text-center
						p.lead(style='font-size:40px')
							strong 25€ / Monat
					ul.list-group.list-group-flush.text-center
						li.list-group-item
							i.icon-ok.text-danger
							|  Hosting auf virtuellem Server
						li.list-group-item
							i.icon-ok.text-danger
							|  Backup auf dem Server und per EMail
						li.list-group-item
							i.icon-ok.text-danger
							|  Regelmäßige Updates
						li.list-group-item
							i.icon-ok.text-danger
							|  24h EMail-Support 
							sup 
								a(href="#emailsupport" id="emailsupportref") *
					.panel-footer
						a.btn.btn-lg.btn-block.btn-success(href='#')
							| KAUFEN
		.row
			.col-md-4.col-md-offset-8
				sup(id="emailsupport")* Antwortzeit 24h
					a.hidden(href="#emailsupportref" title="Zurück.") ↩
