section#clients.about
		.container
			.row
				.col-md-12
					.testimonials-title
						h3.title
							| Kunden 
							span Meinungen
			.row
				.col-md-4.col-sm-12
					.testimonial.item
						p
							| Dank der strolch-app muss ich nun nicht mehr 
							| die Kontaktdaten aller Eltern pflegen und per 
							| Email verteilen. 
							| Die Jahrgangs-/Gruppenübersicht erleichtert 
							| dem Team die Arbeit bei der Gruppenaufteilung.
						.testimonials-arrow
						.author
							.testimonial-image
								img(src='../images/testimonials/remo.png', alt='')
							.testimonial-author-info
								a(href='#') Remo Schwabe
								| Leitung - KiTa Kleine Strolche
				.col-md-4.col-sm-12
					.testimonial.item
						p
							| Seitdem ich in der strolch-app selber meine
							| Kontaktdaten pflegen, kann habe ich keine Sorge 
							| mehr, dass ich durch falsche Daten nicht erreichbar 
							| bin, wenn meinem Kind etwas passiert.
						.testimonials-arrow
						.author
							.testimonial-image
								img(src='../images/testimonials/christina.png', alt='')
							.testimonial-author-info
								a(href='#') Christina Fritz
								| Vorstand - KiTa Kleine Strolche
				.col-md-4.col-sm-12
					.testimonial.item
						p
							| Mit der Übersicht der Elternarbeitsstunden
							| kann ich nun viel einfacher meine Arbeitsstunden
							| eintragen. So behalten alle den Überblick. 
						.testimonials-arrow
						.author
							.testimonial-image
								img(src='../images/testimonials/katja.png', alt='')
							.testimonial-author-info
								a(href='#') Katja Krämer
								| Mutter - KiTa Kleine Strolche
