#topnav.navbar.navbar-inverse.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.icon-bar
				span.icon-bar
				span.icon-bar
			span.navbar-brand 
				i.fa.fa-female.fa-lg
				i.fa.fa-child.fa-lg
				i.fa.fa-male.fa-lg
				span(style="margin-left: 5px;") strolch-app
		.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.active
					a(href='#home') Start
				li
					a(href='#services') Besonderes
				li
					a(href='#features') Features
				li
					a(href='#pricing') Preis
				li
					a(href='#clients') Kundenstimmen
				li
					a(href='#contact') Kontakt
		// /.navbar-collapse
