section#features.slider
	.container
		.inner-page
			h2.page-headline.large.text-center Mit der strolch-app die KiTa im Blick.
			p.text-center
				| Ob Adressen, Termine, Elternstunden oder spezielle Gruppenübersichten, die die Arbeit des Teams 
				| erleichtern - die strolch-app schafft Überblick und Aktualität wo bisher Papierkrieg und Emailchaos 
				| herrschten

		.inner-page
			.row.feature-screenshot
				.col-md-12.lazy-container.loaded
					h2
						| Die 
						strong Features
					.row
						.col-md-6
							.feature-box
								.feature-box-icon
									i.icon-group
								.feature-box-info
									h4 Adressübersicht
									p.tall Von den Eltern selbst gepflegte Kontaktdaten. Immer Aktuell. Immer erreichbar.
						.col-md-6
							a(data-featherlight="images/screenshots/main.png" href="#")
								img.img-responsive(src="images/screenshots/main.png", alt="Adressübersicht")


			.row.feature-screenshot
				.col-md-12.lazy-container.loaded
					.row
						.col-md-6
							.feature-box
								.feature-box-icon
									i.icon-file
								.feature-box-info
									h4 Terminübersicht
									p.tall Alle KiTa-Termine als Liste und in der Kalenderansicht. Da verpasst man nichts mehr.
						.col-md-6
							a(data-featherlight="images/screenshots/events.png" href="#")
								img.img-responsive(src="images/screenshots/events.png", alt="Responsive image")


			.row.feature-screenshot
				.col-md-12.lazy-container.loaded
					.row
						.col-md-6
							.feature-box
								.feature-box-icon
									i.icon-google-plus
								.feature-box-info
									h4 Stundenliste
									p.tall Es werden Elternstunden geleistet? Dann könen diese jetzt einfach eingegeben und sichtbar gemacht werden.
						.col-md-6
							a(data-featherlight="images/screenshots/hours.png" href="#")
								img.img-responsive(src="images/screenshots/hours.png", alt="Responsive image")


			.row.feature-screenshot
				.col-md-12.lazy-container.loaded
					.row
						.col-md-6
							.feature-box
								.feature-box-icon
									i.icon-adjust
								.feature-box-info
									h4 Gruppenübersicht
									p.tall Jahrgangs-/Gruppenübersicht zur Erleichterung der Aufnamheentscheidung und Gruppenzusammenstellung.
						.col-md-6
							a(data-featherlight="images/screenshots/ang.png" href="#")
								img.img-responsive(src="images/screenshots/ang.png", alt="Responsive image")


			.row.feature-screenshot
				.col-md-12.lazy-container.loaded
					h2
						| Und noch 
						strong mehr...
					.row
						.col-md-6
							.feature-box
								.feature-box-icon
									i.icon-film
								.feature-box-info
									h4 Druckübersicht
									p.tall Kontaktdaten als druckbare Version für den direkten Zugruff in den Gruppen.
							.feature-box
								.feature-box-icon
									i.icon-magic.small.user
								.feature-box-info
									h4 Schnell und aktuell
									p.tall Durch die eingesetzte Technik sind die Daten dank automatischer Speicherung und Live-Update überall direkt aktuell.
						.col-md-6
							.feature-box
								.feature-box-icon
									i.icon-reorder
								.feature-box-info
									h4 OpenSource
									p.tall Dank OpenSource kann die strolch-app erweitert und selbstgehostet werden. Trotzdem gibt es die Möglichkeit die strolch-app hosten und warten zu lassen.
							.feature-box
								.feature-box-icon
									i.icon-desktop
								.feature-box-info
									h4 Administration
									p.tall Backups, Einstellungen einfach selber verwalten


